<h3 class="text-3xl font-semibold text-[#f0f0f0] mb-4">System Management</h3>
<div class="grid grid-cols-2 lg:flex lg:flex-row items-center mt-10 mb-10 gap-5">
    <div class="w-[50%] min-h-[70px] bg-[#f0f0f0] p-2 rounded-md text-[#000d1c] flex flex-col justify-center">
        <h3 class="font-bold">Memory</h3>
        <p class="text-3xl font-bold">70%</p>
    </div>
    <div class="w-[50%] min-h-[70px] bg-[#f0f0f0] p-2 rounded-md text-[#000d1c] flex flex-col justify-center">
        <h3 class="font-bold">CPU</h3>
        <p class="text-3xl font-bold">90%</p>
    </div>
    <div class="w-[50%] min-h-[70px] bg-[#f0f0f0] p-2 rounded-md text-[#000d1c] flex flex-col justify-center">
        <h3 class="font-bold">Active sessions</h3>
        <p class="text-3xl font-bold">80K</p>
    </div>

</div>

<app-system-chart></app-system-chart>
