<h2>Company Metrics</h2>
<app-employer-chart></app-employer-chart>
<h2>This week</h2>
<div class="grid grid-cols-2 lg:flex lg:flex-row items-center mt-10 gap-5">
    <div class="w-[50%] min-h-[70px] bg-[#f0f0f0] p-2 rounded-md text-[#000d1c] flex flex-col justify-center">
        <h3 class="font-bold">Applications</h3>
        <p>123</p>
    </div>
    <div class="w-[50%] min-h-[70px] bg-[#f0f0f0] p-2 rounded-md text-[#000d1c] flex flex-col justify-center">
        <h3 class="font-bold">Interviews scheduled</h3>
        <p>70</p>
    </div>
    <div class="w-[50%] min-h-[70px] bg-[#f0f0f0] p-2 rounded-md text-[#000d1c] flex flex-col justify-center">
        <h3 class="font-bold">Job openings</h3>
        <p>60</p>
    </div>
</div>